.title {
  color: var(--highlight-2);
  background-color: var(--middle-color);
  padding: var(--size);
}

button.title.invalid {
  color: var(--error-2);
}

input,
textarea {
  color: var(--highlight-2);
  background: var(--background-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--text-color);
  font-style: italic;
}

#connect {
  display: flex;
  flex-direction: column;
  padding: calc(var(--size) * 2);
  gap: var(--size);
  background-color: var(--foreground-color);
  justify-content: center;
  align-items: center;
}

#connect > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size);
}

#connect > .item > span {
  font-weight: bold;
  color: var(--text-color);
}
